<%= simple_form_for [ @fish, @booking ] do |f| %>
  <% if@fish.user == current_user %>
    <p><%= @booking.start_at %></p>
    <p><%= @booking.end_at %></p>
  <% else %>
    <%= f.input :start_at, as: :string, label: 'du', placeholder: 'dd/mm/YYYY',
        required: false, input_html: {class: "datepicker"} %>
    <%= f.input :end_at, as: :string, label: 'Au', placeholder: 'dd/mm/YYYY',
        required: false, input_html: {class: "datepicker"} %>
  <% end %>
  <% if @booking.fish.user == current_user && @booking.current_status == 'En attente' %>
    <%= f.input :current_status %>
  <% end %>
  <%= f.submit "Mettre à jour la réservation de #{@fish.name}", class: "btn btn-flat btn-sm" %>
<% end %>
