<h1>Liste des réservations de <%= @fish.name %> </h1>
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th></th>
      <th>Du</th>
      <th>Au</th>
      <th>Disponibilité</th>
      <th>Tarif de la période</th>
    </tr>
  <thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td>
        </td>
        <td><%= booking.start_at %></td>
        <td><%= booking.end_at %></td>
        <td><%= booking.available %></td>
        <td><%= booking.current_cost %> €</td>
      </tr>
    <% end %>
  </tbody>
</table>
