<h1>Detail de l'utilisateur <%= @user.full_name %> </h1>
<p>Nom : <strong><%= @user.last_name %></strong></p>
<p>Prénom : <strong><%= @user.first_name %></strong></p>
<p>address :<strong><%= @user.address %></strong></p>

<p>TODO : rajouter la liste de poissons de l'utilisateur</p>
<%= link_to "Retour à la liste utilisateurs", users_path, class: "btn btn-ghost btn-sm" %>
