
 <div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/drzg8kw0k/image/upload/v1611012877/fishbnb/logo_gbtsbs_e56ymp.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

<%# https://res.cloudinary.com/drzg8kw0k/image/upload/v1610720267/fishbnb/clown-fish_dvzxof.png %>

    <ul class="navbar-nav mr-auto">

      <li>
        <div class="search-form-control form-group searchbar-index">
          <%= form_tag fishes_path, method: :get, class: 'searchbar-list' do %>
            <%= submit_tag "Recherche", class: "btn btn-ghost btn-sm mr-1" %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control mr-4",
            style: "opacity: 0.4;",
            placeholder: "par nom de poisson" %>
        <% end %>
        </div>
      </li>


      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Proposer votre poisson rouge à la location", new_fish_path, class: "nav-link btn btn-ghost btn-sm ml-2 mr-2" %>
        </li>

        <li class="nav-item active">
          <%= link_to "Nos poissons rouges", fishes_path, class: "nav-link btn btn-ghost btn-sm ml-2 mr-2" %>
        </li>

          <li class="nav-item dropdown ml-2">
            <%= image_tag "https://res.cloudinary.com/drzg8kw0k/image/upload/v1610720267/fishbnb/clown-fish_dvzxof.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
                <%= link_to user_path(current_user), class: "dropdown-item" do %>
                  <i class="fas fa-user"></i> <%= current_user.email %>
                <% end %>
                <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                  <i class="fas fa-sign-out-alt"></i> Se déconnecter
                <% end %>
            <% end %>
          </div>
        </li>
      <% end %>
  </div>
</div>
