<% if @fish.user == current_user %>
  <h3>Les réservations de mon poisson <%= @fish.name %></h3>
<% else %>
  <h3>Mes réservations de <%= @fish.name %></h3>
<% end %>

<table class= "table table-striped table-sm">
  <thead>
    <th>Du</th>
    <th>Au</th>
    <th>Réservé par</th>
    <th>Statut réservation</th>
    <th>Tarif de la période</th>
  </thead>
  <tbody>
    <% if @fish.user == current_user %>
      <% @fish.bookings.where.not(user: current_user).each do |booking| %>
        <tr>
          <td><%= booking.start_at %></td>
          <td><%= booking.end_at %></td>
          <td><%= booking.user.first_name %></td>
          <td><%= booking.current_status %></td>
          <td><%= booking.current_cost %> €</td>
          <td>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <% if policy(booking).update? && booking.current_status == 'En attente' %>
                  <%= link_to edit_fish_booking_path(@fish, booking) do %>
                    <i class="fas fa-edit list-inline-item"></i>
                  <% end %>
                <% end %>
              </li>
              <li class="list-inline-item">
                <% if policy(booking).destroy? && booking.current_status == 'En attente' %>
                  <%= link_to booking_path(booking), method: :delete, data: {confirm: "Êtes vous sûr ?"} do %>
                    <i class="fas fa-trash-alt list-inline-item"></i>
                  <% end %>
                <% end %>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
    <% else %>
      <% @fish.bookings.where(user: current_user).each do |booking| %>
        <tr>
          <td><%= booking.start_at %></td>
          <td><%= booking.end_at %></td>
          <td><%= booking.user.first_name %></td>
          <td><%= booking.current_status %></td>
          <td><%= booking.current_cost %> €</td>
          <td>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <% if policy(booking).update? && booking.current_status == 'En attente' %>
                  <%= link_to edit_fish_booking_path(@fish, booking) do %>
                    <i class="fas fa-edit list-inline-item"></i>
                  <% end %>
                <% end %>
              </li>
              <li class="list-inline-item">
                <% if policy(booking).destroy? && booking.current_status == 'En attente' %>
                  <%= link_to booking_path(booking), method: :delete, data: {confirm: "Êtes vous sûr ?"} do %>
                    <i class="fas fa-trash-alt list-inline-item"></i>
                  <% end %>
                <% end %>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
