<h1> Pour en savoir plus sur <%= @fish.name %> (<%= @fish.fish_type.common_name %>)</h1>
<div class="row">
  <p><%= @fish.name %> est l'heureux compagnon de <%= @fish.user.first_name %>
  <% if @fish.available %>
    et est <strong>disponible à la location au tarif de <%= @fish.price_per_week %> €/semaine</strong>.
    <% else %>
    : Il n'est <strong>plus disponible à la location</strong>.
  <% end %></p>
  <p>Il mesure <%= @fish.length %> cm et sa couleur est <%= @fish.colour %>.</p>
  <p>Le commentaire de propriétaire sur <%= @fish.name %> : <%= @fish.comment %> </p>
  <% if @fish.photo.attached? %>
    <%= image_tag @fish.photo, width:500  %>
  <% end %>
</div>

<h3>Mes réservations de <%= @fish.name %></h3>
<table class= "table table-striped table-sm">
  <thead>
    <th>Du</th>
    <th>Au</th>
    <th>Réservé par</th>
    <th>Statut réservation</th>
  <thead>
  <tbody>
    <% @fish.bookings.where(user: current_user).each do |booking| %>
    <tr>
      <td><%= booking.start_at %></td>
      <td><%= booking.end_at %></td>
      <td><%= booking.user.first_name %></td>
      <td>Confirmée/En attente/Non validée</td>
      <td>
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <% if policy(booking).update? %>
              <%= link_to edit_fish_booking_path(@fish, booking) do %>
                <i class="fas fa-edit list-inline-item"></i>
              <% end %>
            <% end %>
          </li>
          <li class="list-inline-item">
            <% if policy(booking).destroy? %>
              <%= link_to booking_path(booking), method: :delete, data: {confirm: "Êtes vous sûr ?"} do %>
                <i class="fas fa-trash-alt list-inline-item"></i>
              <% end %>
            <% end %>
          </li>
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% if @fish.available && @fish.user != current_user %>
  <%= link_to "Réserver #{@fish.name} à la location", new_fish_booking_path(@fish), class: 'btn btn-ghost btn-sm' %>
<% end %>
<% if policy(@fish).edit? %>
  <%= link_to "Mettre à jour les informations de #{@fish.name}", edit_fish_path(@fish), class: 'btn btn-ghost btn-sm' %>
<% end %>
<% if policy(@fish).destroy? %>
  <%= link_to "Effacer #{@fish.name}", fish_path(@fish),
  method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-ghost btn-sm' %>
<% end %>
<%= link_to 'Retour à la liste des poissons', fishes_path, class: 'btn btn-ghost btn-sm' %>





