<!-- <h1> Pour en savoir plus sur <%= @fish.name %></h1> -->
<div class="wrapper">

  <div class="one">
    <% if @fish.photo.attached? %>
      <%= image_tag @fish.photo %>
    <% end %>
  </div>

  <div class="two">

    <h1 style="font-size: 30px;"><%= @fish.name %></h1>

    <div class="row-fish" id="specie">
      <p><i class="fas fa-fish" id="specie"></i> <%= @fish.fish_type.common_name %></p>
    </div>

    <div class="row-fish">
      <p id="user"><i class="far fa-id-card"></i> <%= @fish.user.first_name.capitalize %></p>
    </div>

    <div class="row-fish" id="available">
      <% if @fish.available %>
        <p>Disponibilitée: <i class="fas fa-check"></i></p>
      <% else %>
       <p>Disponibilitée: <i class="fas fa-times-circle"></i></p>
      <% end %>
    </div>

    <div class="row-fish">
      <p id="color"><i class="fas fa-palette"></i> <%= @fish.colour %></p>
    </div>

    <div class="row-fish">
      <p><i class="fas fa-arrows-alt-h" id="height" style=""></i> <%= @fish.length %>cm</p>
    </div>

    <div class="row-fish">
      <p id="price"><%= @fish.price_per_week %> <i class="fas fa-euro-sign">/week</i></p>
    </div>

    <div class="row-fish">
      <% if @fish.comment? %>
        <p style="font-size: 20px"> Description <!-- de <%= @fish.user.first_name.capitalize %> --> : </p>
        <p id="description"><%= @fish.comment %></p>
      <% else %>
        <p> Pas de commentaire de la part du propriétaire </p>
      <% end %>
    </div>

  </div>

  <div class="three">
   <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Avis</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="reservation" aria-selected="false">Réservations</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">Lorem ipsum dolor sit amet consectetur adipisicing, elit. Voluptas excepturi delectus ipsum accusamus impedit itaque illo nam quisquam, vitae dolores ex laboriosam animi fugiat tenetur. Asperiores, sequi mollitia minus? Molestiae!</div>
      <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="reservation-tab"><%= render "booking_index" %></div>
    </div>
  </div>
</div>

<div class="link">
  <% if @fish.available && @fish.user != current_user %>
    <%= link_to "Réserver #{@fish.name} à la location", new_fish_booking_path(@fish), class: 'btn btn-ghost btn-sm' %>
  <% end %>
  <% if policy(@fish).edit? %>
    <%= link_to "Mettre à jour les informations de #{@fish.name}", edit_fish_path(@fish), class: 'btn btn-ghost btn-sm' %>
  <% end %>
  <% if policy(@fish).destroy? %>
    <%= link_to "Effacer #{@fish.name}", fish_path(@fish),
    method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-ghost btn-sm' %>
  <% end %>
  <%= link_to 'Retour à la liste des poissons', fishes_path, class: 'btn btn-ghost btn-sm' %>
</div>
